<section  ng-controller="CustomersController">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form class="form-horizontal">
                      <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2"><input type="text" placeholder="Enter customer id.." ng-model="request.customer_id" class="form-control"></div>
                        <div class="col-sm-4"><input class="btn btn-default" ng-click="letsRide()" type="button" name="submit" value="Ride now!"></div>
                      </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>