<section  ng-controller="DriversController" ng-init="onlyDrivers();">
    <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-6">
              <input type="button" class="btn btn-primary pull-right" name="refresh" value="Refresh" ng-click="refresh();">
            </div>
          </div>
          <table class="table table-stripped">
            <thead>
              <tr>
                <th>Driver</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="dr in drivers">
                <td ng-bind="dr.driver"></td>
                <td>{{dStatus(dr.available)}}</td>
                <td>
                    <a href="/drivers/{{dr.id}}" >Rides</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
</section>