.messages{
  position: relative;
  margin-top: -25px;
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.jumbotron{
  padding: 20px 60px 30px 60px !important;
}
.jumbotron>h1{
  padding: 0px !important;
  font-size: 50px !important;
  text-align: center !important;
}

span.author{
  display: block;
  position: absolute;
  right: 37px;
  font-size: 12px;
  color: gray;
}

address{
  padding: 10px;
  border: 1px solid #D3D3D3;
  width: 100%;
  text-align: center;
}

address>strong:first-child{
  padding-right: 10px;
}
.col-sm-4.waiting,.col-sm-4.ongoing,.col-sm-4.complete{
  padding-right: 20px;
  padding-left: 20px;
}
.col-sm-4.waiting>.row>address{
  background-color: #EBDEF0 !important;
}

.col-sm-4.ongoing>.row>address{
  background-color: #FCF3CF !important;
}

.col-sm-4.complete>.row>address{
  background-color: #D4EFDF !important;
}