<section class="content">
  <div class="col-sm-12">
    <ul class="nav nav-pills">
      <li><%= link_to "Dashboard", dashboard_index_path(), target: "_blank" %></li>
      <li><%= link_to "Customers app", customers_path(), target: "_blank" %></li>
      <li><%= link_to "Drivers app", drivers_path(), target: "_blank" %></li>
    </ul
  </div>
</section>