<section class="content">
  <div class="col-sm-12">
    <ul class="nav nav-pills">
      <li><a href>Dashboard</a></li>
      <li><%= link_to "Customers app", customers_path() %></li>
      <li><%= link_to "Drivers", drivers_path() %></li>
    </ul
  </div>
</section>